
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  text-align: center;
  background: rgb(233,218,93);
  background: linear-gradient(58deg, rgba(233,218,93,1) 1%, rgba(213,119,61,1) 78%)
  
}

.container{
  padding: 60px;
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  border-radius: 13px;
}
